

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET ____________________________________*/


/* fonts____________________________________ */
@font-face {
    font-family: 'zxxbold';
    src: url('type/zxx_bold-webfont.eot');
    src: url('type/zxx_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/zxx_bold-webfont.woff2') format('woff2'),
         url('type/zxx_bold-webfont.woff') format('woff'),
         url('type/zxx_bold-webfont.ttf') format('truetype'),
         url('type/zxx_bold-webfont.svg#zxxbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'zxxsans';
    src: url('type/zxx_sans-webfont.eot');
    src: url('type/zxx_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/zxx_sans-webfont.woff2') format('woff2'),
         url('type/zxx_sans-webfont.woff') format('woff'),
         url('type/zxx_sans-webfont.ttf') format('truetype'),
         url('type/zxx_sans-webfont.svg#zxxsans') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'Titillium Web', sans-serif;*/

/* end fonts____________________________________ */





#header img{
	width:100%;
} 

#header {
	text-align:center;
	background:
	linear-gradient(
	      rgba(0, 0, 0, 0.3),
	      rgba(0, 0, 0, 0.3)
	    ),
	    url(Images/nerioxman_rapidcraft_editlarger.jpg) top center no-repeat;
		height:170px;
	
}

#header p{
	font-family:'zxxsans', sans-serif;
	color:white;
	font-size:4em;
	display:inline-block;
	margin-top:90px;
}

a:link {
    text-decoration: none;
	color: none;
}

a:hover {
    text-decoration: underline;
	color:#00bff3;
}

a:active {
    text-decoration: underline;
}


#mainmenu {
	max-width:100%;
	margin: 0 auto;
	text-align:center;
	padding-top:25px;
	padding-bottom:10px;
	height:5em;
	
	
}

#mainmenu li{
	font-family: 'Titillium Web', sans-serif;
	text-transform:uppercase;
	font-size:0.9em;
	display: inline-block;
	margin-left:2em;
	margin-right:2em;
	
}

h2 {

	font-family: 'Titillium Web', sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1.5em;
	margin-bottom:15px;
	margin-top:20px;
	margin-left:5%;
	padding:5px;
	background-color:white;
	
}

h3{
	
	font-family:'zxx', sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1em;
    top: 200px; 
	margin:20px,20px,20px,20px;
	padding-left:20px;

	
}

h4{
	font-family:'Titillium Web', sans-serif;
	
	text-transform:uppercase;
	font-size:.8em;
}


#whitebg {
	
	opacity:0.7;
	padding:5px;
	background-color:white;
}

.image { 
	margin-top:35px;
	margin-bottom:35px;
   width: 100%; /* for IE 6 */
}

.populararticle h3{
	color:white;
	padding:20px;
	
}

.populararticle p{
	font-family: 'zxxsans', sans-serif;
	font-size:1em;
	padding-left:20px; 
    width: 60%; 
	color:white;
	line-height:20px;
	
}

.populararticle { 		
		height:500px;
		width:75%;
		float:left;
		width:70%;
		
}

.populararticle article{
	height:300px;
	margin:2%;
	margin-left:8%;
}
.newsfeed {
	float:left;
	width:20%;
	padding:10px 10px 10px 20px;
	margin:20px;
	border:2px solid #b5b5b5;
	
}

.newsfeed h2{
	width:80%;
	padding-bottom:20px;
	border-bottom:2px solid #b5b5b5;
	
}

.newsitem {
	padding:30px 10px 100px 10px;
	clear:both;
	border-bottom:2px solid #b5b5b5;
	border-width:120%;
}

.newsitem img{
	clear:both;
	float:left;
	width:35%;
	padding-right:10px;
	
}

.newsitem p{
	float:left;
	width:60%;
	font-family:'Titillium Web', sans-serif;
	font-size:0.8em;
	line-height:18px;
	
}

	

#strandbeests {
	background-image: url("Images/theo_opener_fullbleed.jpg");
	   background-repeat: no-repeat;
	width:100%;
	height:300px;
}

img { width: 100%;
    height: auto;}

	
#oxman {
	background-image: url("Images/oxman1.jpg");
	   background-repeat: no-repeat;
	width:100%;
	height:300px;
	
}

#selfassembly {
	background-image: url("Images/nerioxman_leviathan.jpg");
	   background-repeat: no-repeat;
	width:100%;
	height:300px;
	
}


.newvideos {
	clear:both;}


/* form page*/
	#subscribegraphic {
		background-image: url("Images/potentialcoverbarcodelightened.jpg");
	   background-repeat: no-repeat;
	width:75%;
	height:400px;
	margin:0 auto;}
	
	
	#formgraphictext {
		font-family:'zxxsans', sans-serif;
		text-transform:uppercase;
		font-size:4em;
		color:#64dd17;
		text-align: center;
		display: block;
		    margin-left: auto;
		    margin-right: auto;
		padding-top:10%; }
	}

.form li{
	padding:5px;
	background-color:gray;
	
} 

/* current issue page */

.popularfeatures article{
	width:100%;
	
	
}

.popularfeatures p{
	font-family: 'zxxsans', sans-serif;
	font-size:1em;
	padding-left:20px; 
    width: 80%; 
	color:white;
	line-height:20px;
}

.popularfeatures h3{
	padding:30px;
	color:white;
}


#strandbeestsfeature {
	background-image: url("Images/strandbeestcurrent.jpg");
	background-position: bottom 200px;
	   background-repeat: no-repeat;
	width:30%;
	height:500px;
	float:left;
	margin:1%;
}

#materialworldfeature{
	background-image: url("Images/oxmancurrent.jpg");
	   background-repeat: no-repeat;
	width:30%;
	height:500px;
	float:left;
	margin:1%;
}

#selfassemblyfeature{
	background-image: url("Images/leviathancurrent.jpg");
	   background-repeat: no-repeat;
	width:30%;
	height:500px;
	float:left;
	margin:1%;
}




.videotext {
	clear:both;
	padding-top:30px;
}

.videotext p{
	font-family: 'zxxsans', sans-serif;
	font-size:1em;
	padding-left:20px; 
    width: 90%; 
	line-height:20px;
}

.currenttitlevideo img{
	float:left;
	width:62%;
	margin:1%;
	background-color:red;
}

.videotext p{
	float:left;
	width:25%;
	padding:20px;
	height:70px;
}


.currentarticle {
	clear:both;
	padding-top:30px;
}

#fromreaders {
	float:left;
	width:45%;
	padding:15px;
}

#moreabout {
	float:left;
	width:45%;
	padding:15px;
	
}








