

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------END RESET------------*/

#top-nav {
	position:absolute;
	top:30px;
	right:30px;
}	

#site-wrapper {
	background-color:#eff5da;
	position:relative;
}	

#site-header {
	margin: 0 auto;
	width:800px;
}
#menu-wrapper {
	background-color:#774918;	
	}
	
	#main-menu li {
		float:left;	
		padding:10px 10px 10px 0px;
		font-family:helvetica;
		font-size:15px;
		text-transform:uppercase;	
	}
	
	#main-menu a {
		text-decoration:none;
			color:white;
	}
	
	#main-menu {
		height:40px;
		width:800px;
		margin: 0 auto;
	}
	
	h1 {
		color:#774918;
		font-family:helvetica;
		font-size:20px;
		text-transform:uppercase;
		margin:40px 10px 10px 0px;
			
	}
	
	h2 {
		color:#774918;
		font-family:helvetica;
		font-size:15px;
		text-transform:uppercase;
		margin:40px 10px 10px 0px;
	}
	
	#page {
		float:left;
		width:45%;
		font-family:helvetica;
		font-size:9pt;
		line-height:11pt;
		
	}
	
	#sidebar {
		float:right;
		width:35%;

		
	}
	
	#sidebar a {
		text-decoration:none;
		color:#774918;
		font-family:helvetica;
		font-size:9pt;
		line-height:20pt;
		
	}
	
	#content-wrapper {
		margin: 0 auto;
		width:800px;
	}
	
	#footer-wrapper {
		clear:both;
		background-color:#774918;
	height:100px;
	width:100%;
}

#footer-contact {
	float:left;
	width:50%;
}
	
	#footer-follow {
		float:right;
		width:50%;
	}
	
	#site-footer {
		margin: 0 auto;
		
	}
	
	
	
	
	
	
	
	
	
	
	