/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff2') format('woff2'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1 {
	font-family: "League Gothic", arial;
	font-size:6em;
	max-width:100%;
	display:block;
	margin:0 auto;
	margin-bottom:30px;
	 text-align:center;
}

.vs {
	font-family:georgia;
	font-style:italic;
	color:gray;
	font-size:75%;
}

#container {
	max-width:100%;
	clear:both;
	width:800px;
	margin: 0 auto;
	margin-top:20px;
	overflow:auto;
	height:450px;
	border-bottom: 3px solid black;
	
}

article {
	max-width:100%;
	float:left;
	margin:0 auto;
	width:46%;
	margin-top:30px;
	margin-left:3%;

}

img {
		max-width:100%;
}

nav {max-width:100%;
	width: 800px;
	margin: 0 auto;
	height:50px;
	
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

nav li {max-width:100%;
    font-size: 20pt;
	font-family:georgia;
    text-transform: uppercase;
    display:inline-block;
    list-style-type: disc;
    padding: 15px;
    list-style-position: inside;
    /*margin-top: 40px;*/
	
}

nav ul {
	text-align:center;
}





header {
	padding-top:48px;
}
h2 {
	font-family:georgia;
	font-size:20px;
	font-style:bold;
	color:black;
	margin:20px 20px 20px 0px;
}

p {
	font-family:georgia;
	font-size:14px;
	
}

footer {
	width: 800px;
		margin: 0 auto;
		height:50px;
		margin-top:20px;
	
}

#footer1 {
	float:right;
}

#footer2 {
	float:left;
}

@media screen and (max-width:1130px) {
	nav li {
		padding-left:0.3%;
		padding-right:0.3%;
	}
	body {background-color:red;}
}

@media screen and (max-width:270px) {
	nav li {
		display:block;
		
	}
	body {background-color:blue;}
}